*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: relative;
}
.container:nth-child(1){
    background: #b6916d;
}
.container:nth-child(2){
    background: #bcb8ad;
}
.container:nth-child(3){
    background: #b69187;
}
.container:nth-child(4){
    background: #3c564f;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform-origin: left;
}

.reveal {
    visibility: hidden;
    position: relative;
    width: 80%;
    height: 80%;
    max-width: 500px;
    overflow: hidden;
}
  
